<div class="col-6">
  <%= form_with(model: cash_up) do |form| %>
    <% if cash_up.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cash_up.errors.count, 'error') %> prohibited this cash_up from being saved:</h2>

        <ul>
          <% cash_up.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- CASH -->
    <div class="mb-3">
      <label for="total-cash">CASH</label>
      <input type="text"
             id="total-cash"
             class="form-control"
             name="cash_up[cash]"
             placeholder="Enter Cash"
             value="<%= set_value(form.object.cash) %>"
             oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
    </div>

    <!-- CARD -->
    <div class="mb-3">
      <label for="total-card">CARD</label>
      <input type="text"
             id="total-card"
             class="form-control"
             name="cash_up[card]"
             placeholder="Enter Card"
             value="<%= set_value(form.object.card) %>"
             oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
    </div>

    <!-- EFT -->
    <div class="mb-3">
      <label for="total-eft">EFT</label>
      <input type="text"
             id="total-eft"
             class="form-control"
             name="cash_up[eft]"
             placeholder="Enter EFT"
             value="<%= set_value(form.object.eft) %>"
             oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
    </div>

    <!-- REFUND -->
    <div class="mb-3">
      <label for="total-refund">REFUND</label>
      <input type="text"
             id="total-refund"
             class="form-control"
             name="cash_up[refund]"
             placeholder="Enter Refund"
             value="<%= set_value(form.object.refund) %>"
             oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
    </div>

    <!-- DATE -->
    <div class="mb-3">
      <%= form.label :cash_up_date, 'DATE' %>
      <%= form.date_field :cash_up_date, class: 'form-control' %>
      <small>Today's date will be selected by default</small>
    </div>

    <!-- SUB TOTAL -->
    <div class="mb-3">
      <%= form.label :sub_total, 'SUB TOTAL' %>
      <%= form.text_field :sub_total, class: 'form-control calculated-fields', disabled: true %>
    </div>

    <!-- TOTAL -->
    <div class="mb-3">
      <%= form.label :total, 'TOTAL' %>
      <%= form.text_field :total, class: 'form-control', disabled: true %>
    </div>

    <!-- NOTE -->
    <div class="mb-3">
      <%= form.label :note, 'NOTE' %>
      <%= form.text_area :note, rows: 5, class: 'form-control' %>
    </div>

    <!-- Calculate -->
    <button type="button" class="btn btn-primary w-100 mb-3" id="show-calculations">Calculate</button>

    <!-- Action Buttons -->
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to 'Back', cash_ups_path, class: 'btn btn-secondary' %>
      </div>

      <div>
        <%= form.submit class: 'btn btn-primary', id: 'create-cash-up-btn', disabled: true %>
      </div>
    </div>
  <% end %>
</div>
