<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

<div class="row">
  <%= render partial: 'partials/monthly_cards' %>

  <%= render partial: 'partials/recent_movement', locals: { recent_movement: @recent_movement } %>
</div>

<div class="row">
  <%= render partial: 'partials/this_month_pie', locals: { this_month_pie: @this_month_pie } %>

  <%= render partial: 'partials/real_time' %>

  <%= render partial: 'partials/calender' %>
</div>

<div class="row">
  <%= render partial: 'partials/lates_projects' %>

  <%= render partial: 'partials/monthly_sales', locals: { monthly_sales: @monthly_sales } %>
</div>
