<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <div class="sidebar-cta text-center text-white">
      <div class="my-3 text-sm">
        <h5 class="side-bar-logo-color">Jawad WoodWorks</h5>
      </div>
    </div>

    <ul class="sidebar-nav">

      <li class="sidebar-item <%= 'active' if current_page?(root_path) %>">
        <a class="sidebar-link" href="<%= root_path %>">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item <%= 'active' if current_page?(cash_ups_path) %>">
        <a class="sidebar-link" href="<%= cash_ups_path %>">
          <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Cash Up</span>
        </a>
      </li>

      <li class="sidebar-item <%= 'active' if current_page?(users_path) %>">
        <a class="sidebar-link" href="<%= users_path %>">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Manage Employee</span>
        </a>
      </li>

      <li class="sidebar-item <%= 'active' if current_page?(attendances_path) %>">
        <a class="sidebar-link" href="<%= attendances_path %>">
          <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Mark Attendance</span>
        </a>
      </li>
    </ul>
  </div>
</nav>