<%= form_tag set_submit_route(params[:action]), method: set_submit_method(params[:action]) do %>
  <%= hidden_field_tag 'id', @user.id %>

  <div class="row">
    <div class="col-4">
      <div class="mb-3">
        <%= label_tag :name %>
        <%= text_field_tag 'user[name]', @user.name.present? ? @user.name : nil, class: 'form-control', required: true %>
      </div>

      <div class="mb-3">
        <%= label_tag :phone_number, 'Phone Number' %>
        <%= text_field_tag 'user[phone_number]', @user.phone_number.present? ? @user.phone_number : nil, class: 'form-control sa-phone-input', required: true %>
      </div>

      <div class="mb-3">
        <%= label_tag :role, 'Role' %>
        <%= select_tag('user[role]', options_for_select(labour_worker), prompt: 'Select Role', class: 'form-control', required: true) %>
      </div>

      <div class="d-flex justify-content-between">
        <div>
          <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
        </div>

        <div>
          <%= submit_tag set_submit_btn_text(params[:action]), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
