<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center mb-5 pb-1">
                  <img src="/assets/app_logo.jpg" style="width: 185px;" alt="logo">
                </div>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= render 'users/shared/error_messages', resource: resource %>

                  <p>Forgot your password?</p>

                  <div class="form-outline mb-4">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Enter Email Address' %>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <%= f.submit 'Send me reset password ', class: 'btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100' %>

                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'text-muted' %><br/>
                    <% end %>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <%- if controller_name != 'sessions' %>
                      <%= link_to 'Log in', new_session_path(resource_name), class: 'text-muted' %><br />
                    <% end %>
                    <span class="mx-2 text-muted">OR</span>
                    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to 'Sign Up', new_registration_path(resource_name), class: 'text-muted' %>
                      <br/>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <img src="https://wallpapers.com/images/hd/portrait-of-scooby-doo-v6lpe8cpfl75cwtr.jpg"
                   alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

