<%= form_tag '/attendances/report', method: :get do %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= label_tag :generate_report, 'Select Month' %>
        <%= select_tag('search[month]', options_for_select(MONTH_DROPDOWN, CURRENT_MONTH), class: 'form-control') %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <%= label_tag :generate_report, 'Select Week' %>
        <%= select_tag('search[week]', options_for_select(WEEK_DROPDOWN), class: 'form-control') %>
      </div>
    </div>
  </div>

  <%= submit_tag 'Search', class: 'my-3 btn btn-primary' %>
<% end %>