<h1>Attendance Sheet of this week</h1>

<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th>Employee Name</th>
    <% @current_week.each do |day| %>
      <th class="font-w-500">
        <%= day.split(',').first %><br>
        <span class="font-12">
          <%= day.split(',').last %>
        </span>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <% @current_week.each do |day| %>
        <th>
          <div class="form-check form-check-inline">
            <input class="form-check-input mark-attendance" type="checkbox" id="<%= day.split(',').last %>-present-<%= user.id %>" name="attendance[is_present]" checked="<%= 'checked' if check_present(user) %>">
            <label class="form-check-label normal-font" for="<%= day.split(',').last %>-present-<%= user.id %>">P</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input mark-attendance" type="checkbox" id="<%= day.split(',').last %>-absent-<%= user.id %>" name="attendance[is_absent]">
            <label class="form-check-label normal-font" for="<%= day.split(',').last %>-absent-<%= user.id %>">A</label>
          </div>
        </th>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>