<div class="accordion" id="accordionExample">
  <% @dates_by_month.each do |month, dates| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne-<%= month %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-<%= month %>" aria-expanded="true" aria-controls="collapseOne-<%= month %>">
          <%= month %>
        </button>
      </h2>
      <div id="collapseOne-<%= month %>" class="accordion-collapse collapse <%= 'show' if month == Date::MONTHNAMES[Date.today.month] %>" aria-labelledby="headingOne-<%= month %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= dates %>
        </div>
      </div>
    </div>
  <% end %>
</div>